@font-face {
    font-family: primary;
    src: url(./THRUST__.TTF);
}
@font-face {
    font-family: secondary;
    src: url(./Typo_Round_Light_Demo.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: secondary;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background: url(./car.jpg);
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    color: white;
    padding: 20px 20px;
}
.brand{
    font-family: primary;
    font-weight: 300;
    font-size: 3rem;
}
#primaryNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Navigations{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.023);
    backdrop-filter: blur(10px);
    box-shadow: -2px -1px 2px rgba(207, 205, 205, 0.368);
}
#Navigations a{
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    background: rgba(255, 255, 255, 0.150);
    backdrop-filter: blur(10px);
   box-shadow:inset 0 4px 30px rgba(0, 0, 0, 0.402);
   font-weight: 600;
}
.Other{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Other>button{
    padding: 12px 15px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
}
.globe{
    color: white;
    padding: 0px 12px;
    font-weight: 400;
    font-size: 3rem;
    border-right:3px solid white;
}
.BrandLine{
    display: flex;
    align-items: center;
    gap:10px;
    width: 20%;
}
@media (max-width: 900px){
    .brand{
        font-size: 1.5rem;
    }
    #Navigations{
        display: none;
    }
    .Other h3{
        font-size: 0.6rem;
    }
     .Other button{
            padding: 10px 10px;
        font-size: 0.6rem;
    }
    .globe{
        font-size: 2rem;
    }
    .BrandLine{
        width: 70%;
    }
    .BrandLine h3{
        font-size: 1rem;
    }
}