@font-face {
    font-family: primary;
    src: url(./THRUST__.TTF);
}
@font-face {
    font-family: secondary;
    src: url(./Typo_Round_Light_Demo.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: secondary;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background: url(./wallpaper.jpg);
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    color: white;
    padding: 20px 20px;
}
.brand{
    font-family: primary;
    font-weight: 300;
    font-size: 3rem;
}
#primaryNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Navigations{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.023);
    backdrop-filter: blur(10px);
    box-shadow: -2px -1px 2px rgba(207, 205, 205, 0.368);
}
#Navigations a{
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    background: rgba(255, 255, 255, 0.150);
    backdrop-filter: blur(10px);
   box-shadow:inset 0 4px 30px rgba(0, 0, 0, 0.402);
   font-weight: 600;
}
.Other{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Other>button{
    padding: 12px 15px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
}
.writings{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 40px;
}
.globe{
    color: white;
    padding: 0px 12px;
    font-weight: 400;
    font-size: 2rem;
    border-right:3px solid white;
}
.BrandLine{
    display: flex;
    align-items: center;
    gap:10px;
    width: 70%;
    color: white;
    font-size: 0.8rem;
}
.BrandLine h3{
    width: 20%;
}
.BigLine{
background: radial-gradient(circle at right bottom, #0000005d 1%, #fcfcfc 46%);
 font-size: 4rem;
 max-width: 45%;
 color: transparent;
-webkit-background-clip: text;
}
.SmallLine{
    max-width: 35%;
    letter-spacing: 2px;
    font-size: 1rem;
}
.getStarted{
    width: fit-content;
     padding: 4px 12px;
     display: flex;
     align-items: center;
     font-weight: 600;
     gap: 15px;
     font-size: 1rem;
     border-radius: 50px;
     border: none;
     background-color: rgba(203, 200, 200, 0.648);
}
.getStarted .right{
    background-color: white;
    padding: 10px 10px;
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
.getStarted:hover .right{
    transform: rotate(-60deg);
}
.boxes{
    display: flex;
    gap: 2%;
}
.box1{
      width: 15%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.023);
    backdrop-filter: blur(10px);
    box-shadow: -2px -1px 2px rgba(207, 205, 205, 0.368);
}
.box2{
    width: 16%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 12px;
    background: rgba(255, 254, 254, 0.831);
    color: black;
}
.box1 h2{
    font-size: 3rem;
      font-weight: 400;
}
.box2 h2{
        font-size: 3rem;
      font-weight: 400;
}
@media (max-width: 900px){
    .brand{
        font-size: 1.5rem;
    }
    #Navigations{
        display: none;
    }
    .Other h3{
        font-size: 0.6rem;
    }
     .Other button{
            padding: 10px 10px;
        font-size: 0.6rem;
    }
    .globe{
        font-size: 2rem;
    }
    .BrandLine{
        width: 70%;
        margin: auto;
    }
    .BrandLine h3{
        font-size: 1rem;
    }
}